<h3>Ownership Groups</h3>
<form id="groupForm" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input id="txtGroupName" type="text" name="Name" class="form-control" placeholder="name">
        <input id="txtGroupDescription" type="text" name="Description" class="form-control" placeholder="description">
    </div>
    <button id="btnNewGroup" type="submit" class="btn btn-primary mb-2">+ Create</button>
    <br>
</form>