<form id="sortSearchForm">
    <div class="form-row">
        <div class="form-group col-sm-2">
            <label for="Min">Minimum rating</label>
            <input id="txtSortMin" type="text" id="Min" class="form-control text-center" placeholder="0">
        </div>
        <div class="form-group col-sm-2">
            <label for="Max">Maximum rating</label>
            <input id="txtSortMax" type="text" id="Max" class="form-control text-center" placeholder="10">
        </div>
    </div>
    <button id="searchSort" type="submit" class="btn btn-success mb-2">Search Series</button>
</form>