<!DOCTYPE html>
<html>
<head>
    <title>FOCA</title>
</head>
<body>
    <div class="container">
        <h1><img width="35px" src="./../img/favicon.png"> Chelas Open TV Application</h1>
        <div id="divNavbar"></div>
        <div id="divAlerts"></div>
        <br>
        <div id="divMain"></div>
        <br>
        <footer>
            <div class="card-footer">
                <small>
                    <h2>References</h2>
                </small>
                <ul>
                    <li>
                        <small>Powered By: <a href="https://nodejs.org" target="_blank">Node.js</a>, <a href="https://www.elastic.co/" target="_blank">ElasticSearch</a></small>
                    </li>
                    <li>
                        <small>Movie and Series information from</small>
                        <a href="https://www.themoviedb.org" target="_blank">
                            <img width="80px" src="./../img/logo.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>