<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav mr-auto nav-pills text-center">
        <li class="nav-item">
            <a id="nav#home" href="#home" class="nav-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a id="nav#popular" href="#popular" class="nav-link">
                Popular
            </a>
        </li>
        <li class="nav-item">
            <a id="nav#series" href="#series" class="nav-link">
                Series
            </a>
        </li>
        <li class="nav-item">
            <a id="nav#groups" href="#groups" class="nav-link">
                Groups
            </a>
        </li>
        <li class="nav-item">
            <a id="nav#groupSort" href="#groupSort" class="nav-link">
                Sort
            </a>
        </li>
        <li class="nav-item" id="liAuth">
            {{#if session.isAuthenticated}}
                <a id="nav#profile" href="#profile" class="nav-link">{{session.user.username}}</a>
            {{else}}
                <a id="nav#login" href="#login" class="nav-link">Login</a>
            {{/if}}
        </li>
        {{!-- {{#if session.isAuthenticated}}
            <span class="navbar-text">
                {{session.user.username}}
            </span>
        {{/if}} --}}
    </ul>
</nav>